<h1>Angular Template Driven Form</h1>
<div class="col-sm-6">
<form #userForm="ngForm" (ngsubmit)="onSubmit(userForm.value)">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="useremail" ngModel #email="ngModel" required  type="email"  class="form-control"  placeholder="Enter email">
    <span *ngIf="email.invalid && email.touched" class="error">Email is can not be empty</span>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" ngModel type="password" class="form-control"  placeholder="Password">
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form></div>